# Node
node_modules/
frontend/fairshare-frontend/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Java
target/
